# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# =========================
# FRONTEND & BACKEND (Node.js)
# =========================
# Chặn toàn bộ thư mục chứa thư viện nặng
node_modules/
# Chặn các file log của npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# FRONTEND (React / Vite)
# =========================
# Chặn thư mục chứa code đã build ra thành phẩm
dist/
dist-ssr/
*.local

# =========================
# BACKEND (AWS SAM)
# =========================
# Chặn thư mục build tự động của AWS SAM
.aws-sam/
packaged.yaml

# =========================
# MÔI TRƯỜNG & HỆ ĐIỀU HÀNH
# =========================
# Chặn file chứa API Key, thông tin mật (Cực kỳ quan trọng)
.env
.env.*

# File rác của Mac và Windows
.DS_Store
Thumbs.db